body {
  min-width: 1200px;
  padding: 0;
  margin: 0 auto;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;

}

.site-wrapper {
  background: #849d8f url("../img/slide-1.png") no-repeat top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.main-container{
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.maim-navigation {
  display: flex;
}

.logo {
  width: 154px;
  height: 64px;
  margin-left: 27px;
  margin-top: 10px;
  margin-bottom: auto;
}

.main-menu,
.submenu {
  margin: 0;
  padding: 0;
  z-index: 1;

  list-style: none;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  width: 382px;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: auto;
}

.main-menu-item {
  position: relative;
}

.submenu-box {
  display: none;
  position: absolute;
  left: -5px;
  top: 20px;
}

.main-menu-item:hover .submenu-box {
  display: block;
}

.submenu {
  min-width: 143px;
  padding: 9px 0;
  margin-top: 17px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.main-menu-item > a {
  display: block;
  padding: 7px 14px;
}


.main-menu a {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.main-menu-item:hover:not(.active)>a,
.main-menu-item:not(.active)>a:focus {
  color: #333333;

  background-color: #f7f6f3;
  border-radius: 50px;
  text-decoration: none;
}

.main-menu .active {
  background-color: #d07058;
  border-radius: 50px;

  cursor: pointer;
}

.main-menu .active-link {
  color: #ffffff;
  text-decoration: none;
}

.main-menu-item:active:not(.active) > a {
  color: #333333;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
 }

.submenu a {
  display: block;
  box-sizing: border-box;
  padding: 6px 20px;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.submenu .submenu-active {
  color: #ffffff;

  background-color: #d07058;

  cursor: default;
}

.submenu a:hover:not(.submenu-active),
.submenu a:focus:not(.submenu-active) {
  color: #323232;

  background-color: #fbded7;
}

.submenu a:active:not(.submenu-active) {
  color: #323232;

  background-color: #f6b5a5;
}

.submenu li:not(.new) {
  font-weight: 400;
}

.submenu .new {
  display: flex;
  flex-direction: column;
}

.submenu .new::after {
  content: "";

  box-sizing: border-box;
  height: 1px;
  width: 87%;
  margin: 8px 9px 5px;

  background-color: rgba(0, 0, 0, 0.2);
}

.user-navigation>p {
  margin: 0;
}

.user-navigation {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  max-width: 280px;
  margin-right: 27px;
  margin-top: 25px;
  margin-left: auto;
  margin-bottom: auto;
}

.search,
.login-link,
.cart {
  margin-left: 10px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  cursor: pointer;
}

.search-container:hover path,
.search:focus path{
  fill: #000000;
}

.login-container {
  display: flex;
}

.cart-container {
  display: flex;
}

.login-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93px;
}

.login-link svg {
  margin-right: 7px;
}

.login-container:hover path,
.login-link:focus path,
.login-container:hover polygon,
.login-link:focus polygon {
  fill: #000000;
}

.search-container:hover .search,
.login-container:hover .login-link,
.search:focus,
.login-link:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.search-container:hover .search-box {
  display: block;
}

.login-container:hover .login-box {
  display: block;
}

.cart-container:hover .cart-box {
  display: block;
}

.cart {
  position: relative;
  box-sizing: border-box;
  padding: 8px 17px;
  padding-left: 45px;
  cursor: default;
}

.cart-empty::before {
  content: "";
  position: absolute;
  left:16px;
  bottom: 6px;
  width: 21px;
  height: 20px;
  background: url("../img/cart.svg") no-repeat 0 0;
}

.cart-full {
  color: #323232;

  background-color: #f8f7f4;
  cursor: pointer;
}

.cart-full::before {
  content: "";
  position: absolute;
  left:16px;
  bottom: 6px;
  width: 21px;
  height: 20px;
  background: url("../img/cart-full.svg") no-repeat 0 0;
}

.maim-navigation .operating-mode {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.box-info {
  position: absolute;

  top: 51px;
  right: 0;
}

.maim-navigation .phone {
  margin: 0;
  font-size: 22px;
  line-height: 24px;
  text-align: right;
}

.btn {
  display: inline-block;
  padding: 10px 22px;

  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  vertical-align: top;
  text-decoration: none;

  opacity: 0.99;
  background: #f26843 linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  border: none;

  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:focus{
  outline: none;
  box-shadow:
    0 0 5px 6px #ffbc9e;
}

.slides {
  position: relative;

  padding-top: 272px;
  margin-bottom: 40px;

  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

.slides .list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slides .title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-btn {
  padding: 12px 44px;
  font-size: 31px;
  line-height: 41px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 50px;
}

.slides .controls {
  position: absolute;
  bottom: 63px;
  left: 27px;
  z-index: 1;

  font-size: 0;
}

.controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.controls label:hover,
.controls label:focus{
  background-color: rgba(255, 255, 255, 0.4);
}

.container {
  padding: 0 27px;
}

.special-offer {
  margin-bottom: 40px;
}

.special-offer .list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.special-offer .item {
  flex-basis: 50%;
  padding: 20px;
  margin-left: 26px;

  border-radius: 15px;
}

.special-offer h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 35px;
  line-height: 41px;
}

.special-offer p {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
}

.btn-box {
  text-align: right;
}

.special-offer .item:first-of-type {
  margin-left: 0;
  background: url("../img/raspberry.jpg") no-repeat 0 0;
}

.special-offer .item:last-of-type {
  background: url("../img/chocolate.jpg") no-repeat 0 0;
}

.products {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.products .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  list-style: none;
}

.products .item {
  display: flex;
  flex-direction: column;

  position: relative;

  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;

  text-align: center;

  border-radius: 5px;
}

.products .item:nth-child(4n){
  margin-right: 0;
}

.products .quick-view {
  margin: 0;
  display: none;
}

.products .item:hover>.quick-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: -13px;
  top: -6px;
  box-sizing: border-box;
  width: 293px;
  height: 405px;
  margin: 0;
  padding: 6px 13px 22px;
  z-index: -1;
  background-color: rgba(255,255, 255, 0.2);
  border-radius: 5px;
}

.products .item:hover {
  position: relative;
  z-index: 1;
}

.products .title {
  margin: 0;
  order: 1;

  width: 258px;
}

.products .link {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
}

.products .link:hover,
.products .link:focus,
.products .link:after {
  color: #ffbc9e;
}

.products .image {
  margin: 0;
  margin-bottom: 10px;
}

.products .hit::before {
  content: "";

  position: absolute;
  width: 61px;
  height: 61px;

  background: url("../img/hit.svg") no-repeat 0 0;
}

.products img {
  border-radius: 50%;
  object-fit: contain;
}

.products .price {
  position: absolute;
  top: 210px;
  margin: 0;
  line-height: 45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.price b,
.price .currency{
  font-size: 45px;
  font-weight: 700;
}

.price .weight {
  font-size: 30px;
  line-height: 45px;
}

.features {
  margin: 0;
  padding: 25px 20px;
  margin-bottom: 40px;

  color: #323232;

  background: #eaddc0 url("../img/waffle.jpg") repeat 0 0;
  border-radius: 15px;
}

.features .tip {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.features .item {
  position: relative;

  padding-top: 25px;
  padding-left: 56px;
  width: 476px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.features .item::before {
  content: "";

  position: absolute;
  left: 0;
  top: 12px;
  width: 49px;
  height: 49px;

}

.features .item:first-child::before {
  background: url("../img/icecream.svg") no-repeat 0 0;
}

.features .item:nth-child(2)::before {
  background: url("../img/cow.svg") no-repeat 0 0;
}

.features .item:nth-child(3)::before {
  background: url("../img/sheet.svg") no-repeat 0 0;
}

.features .item:last-child::before {
  background: url("../img/thermometer.svg") no-repeat 0 0;
}

.index-box {
  display: flex;
  margin-bottom: 40px;
}

.blog-new {
  flex-basis: 50%;
  box-sizing: border-box;
  min-height: 180px;
  margin-right: 26px;
  padding: 20px;

  color: #323232;

  background: #ffffff url("../img/preview.jpg") no-repeat right top;
  border-radius: 15px;
}

.blog-new h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog-new h3 {
  margin: 0;
  margin-top: 7px;
  margin-right: 230px;
}

.blog-new a {

  color: #323232;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

.blog-new a:hover,
.blog-new a:focus,
.blog-new a:active{
  color: #e84d37;
}

.subscribe {
  flex-basis: 50%;
  box-sizing: border-box;
  min-height: 210px;
  margin-right: 0;
  padding: 5px;

  background: #f8f7f4 url("../img/post.svg") repeat 0 0;
  border-radius: 15px;
}


.subscribe .content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding:20px;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscribe .tip {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-top: 10px;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.subscribe .form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.subscribe input {
  box-sizing: border-box;
  width: 368px;
  height: 44px;
  padding-left: 15px;


  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  border: solid 1px rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.subscribe input:placeholder-shown {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;

  border: solid 1px rgba(178, 178, 178, 0.52);
}

.subscribe input:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
  border-radius: 5px;
}

.subscribe input:focus {
  outline: none;
  border: solid 2px rgba(46, 136, 228, 0.52);
  border-radius: 5px;
}

.subscribe .btn {
  padding: 10px 19px;
}

.pos-rel {
  position: relative;
}

.contacts {
  position: absolute;
  right: 0;
  top: 63px;
  width: 252px;
  height: 255px;
  padding: 30px 25px 20px;

  color: #323232;

  background-color: #ffffff;
  border-radius: 15px;

  z-index: 1;
}

.contacts h3 {
  margin: 0;
  margin-right: 90px;
  margin-bottom: 3px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contacts h3:last-of-type {
  margin-right: 70px;
  margin-bottom: 7px;
}

.contacts address {
  margin: 0;
  margin-bottom: 17px;


  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.contacts p {
  margin: 0;
  margin-bottom: 22px;
}

.contacts .phone {
  font-size: 18px;
  line-height: 22px;
}

.contacts .operating-mode {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.contacts .btn {
  padding: 10px 27px;
}

.map img {
  width: 1200px;
  height: 430px;
  margin-left: -27px;
}

.map {
  position: relative;
}

.map::before {
  content: "";

  position: absolute;
  width: 80px;
  height: 140px;
  left: 239px;
  bottom: 155px;

  background: url("../img/marker.svg") no-repeat 0 0;
}

.box-title {
  display: flex;
  flex-direction: column;
}

.container h1 {
  order: 2;

  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  font-size: 35px;
  line-height: 41px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 880px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 9px;
  padding: 0;

  list-style: none;
}

.breadcrumbs a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;

}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.breadcrumbs li {
  position: relative;
  margin-right: 22px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "»";

  position: absolute;
  top: 3px;
  width: 22px;
  height: 14px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.breadcrumbs .active-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumbs-active::after {
  display: none;

}

.filters {
  margin-bottom: 40px;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
}

.filters fieldset {
  border: none;
  padding: 0;
}

.sort,
.filter-price,
.fat,
.additive {
  margin: 0;
  margin-right: 15px;
  margin-bottom: 17px;
}

.sort label,
.filter-price span,
.filters legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.sort {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sort::before {
  content: "";

  visibility: hidden;

  background: url("../img/down-dir-black.svg");
}

.sort select {
  padding: 10px 33px 9px 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  background: url("../img/down-dir-white.svg") no-repeat 92% 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sort select:hover,
.sort select:focus,
.sort select:active {
  outline: none;

  background: url("../img/down-dir-black.svg") no-repeat 93% 58%;
  background-color: #ffffff;

  color: #323232;
}

.sort option {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;

  background-color: #ffffff;
}

.filter-bg {
  box-sizing: border-box;
  padding: 17px 22px 16px;
  width: 220px;

  text-align: center;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.filter-price .range {
  position: relative;
  width: 176px;
  border: 2px solid rgba(255, 255, 255, 0.5)
}

.filter-price .min-price,
.filter-price .max-price {
  position: absolute;
  top: -10px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.filter-price .min-price {
  left: 13px;
}

.filter-price .max-price {
  right: 45px;
}

.filter-price .min-price:hover,
.filter-price .min-price:focus,
.filter-price .max-price:hover,
.filter-price .max-price:focus {
  border: 9px solid #ffffff;
}

.filters ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 10px 17px 9px 14px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.fat label,
.additive label {
  position: relative;

  padding-left: 35px;
  padding-right: 15px;

  cursor: pointer;
}

.fat-item:last-child label,
.additive-item:last-child label {
  padding-right: 0;
}

.filters .indicator {
  content: "";

  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  bottom: -3px;

  opacity: 0.8;
}

.filters .indicator:not(.disabled):hover,
.filter-input:focus + .indicator {
  opacity: 1;
}

.filter-input:disabled ~ span {
  opacity: 0.4;

  cursor: default;
}

.filters .radio-indicator {
  background: url("../img/radio-off.svg") no-repeat 1px 1px;
  background-size: 22px auto;
}

.filter-radio:checked + .radio-indicator {
  background: url("../img/radio-on.svg") no-repeat 1px 1px;
  background-size: 22px auto;
}

.filters .checkbox-indicator {
  background: url("../img/checkbox-off.svg") no-repeat 2px 2px;
  background-size: auto 20px;
}

.filter-checkbox:checked + .checkbox-indicator {
  background: url("../img/checkbox-on.svg") no-repeat 2px 2px;
  background-size: auto 20px;
}

.filters-btn {
  width: 144px;
  height: 37px;
  margin-top: 4px;

  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;

  border: 2px solid #ffffff;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filters-btn:hover,
.filters-btn:focus {
  color: #323232;

  background-color: #ffffff;
}

.filters-btn:active {
  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.pagination-list {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 250px;
  margin: 40px 0 30px;
  padding: 0 20px;

  list-style: none;
}

.pagination-list::before,
.pagination-list::after {
  content: "";

  position: absolute;
  width: 10px;
  height: 10px;
  top: 8px;

  background-color: transparent;

  transform: rotate(45deg);

}

.pagination-list::before{
  left: 0;
  box-shadow: -1px 1px 0 0 #ffffff;
  opacity: 0.2;
}

.pagination-list::after{
  right: 0;
  box-shadow: 1px -1px 0 0 #ffffff;
  cursor: pointer;
}

.pagination-list a {
  display: block;
  padding: 6px 10px;

  border-radius: 50%;

  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}


.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-active a,
.pagination-active a:hover,
.pagination-active a:focus{
  color: #323232;

  background-color: #ffffff;
}

.line {
  border: none;
  background-color: #ffffff;
  height: 1px;
  opacity: 0.3;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 27px 35px;
  margin-top: 12px;
}

.social {
  width: 185px;
  margin-top: 18px;
}

.social ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-btn {
  color: #ffffff;
}

.social-btn svg {
  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-btn path {
  opacity: 0.8;
}

.social-btn:hover svg,
.social-btn:focus svg {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-btn:hover path,
.social-btn:focus path {
  opacity: 1;
}

.social-btn:active svg {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-btn:active path {
  opacity: 0.7;
}

.documents {
  margin-top: 18px;
  width: 326px;
}

.documents .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.documents li {
  box-sizing: border-box;
  min-width: 161px;
}

.documents li:nth-child(2n-1) {
  padding-left: 22px;
}

.documents a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.documents .heart {
  position: relative;
  font-weight: 700;
}

.documents .heart::before {
  content: "";

  position: absolute;
  width: 15px;
  height: 13px;
  left: -22px;
  top: 2px;

  background: url("../img/heart.svg") no-repeat 0 0;
}

.documents a:hover,
.documents a:focus,
.documents a:active {
  color: #ffbc9e;
}

.copyright {
  margin: 0;
  padding: 0;
  width: 190px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.copyright img {
  width: 118px;
  height: 38px;
}

.copyright a {
  color: #ffffff;
  text-decoration: underline;
}

.copyright a:hover,
.copyright a:focus,
.copyright a:active {
  color: #ffbc9e;
}


.modal {
  color: #323232;

  background-color: #f8f7f4;
}

.modal input,
.modal-feedback textarea {
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 11px 15px 10px;

  border: solid 1px rgba(178, 178, 178, 0.52);
}

.modal input:placeholder-shown,
.modal-feedback textarea:placeholder-shown {

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;

  border: solid 1px rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.modal input:hover,
.modal-feedback textarea:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.modal input:focus,
.modal-feedback textarea:focus {
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.search-box {
  display: none;
  position: absolute;
  left: -295px;
  top: 28px;
  z-index: 1;
}

.modal-search {
  margin-top: 10px;
  margin-right: 5px;
  padding: 20px 15px;

  border-radius: 5px;
}

.modal-search input {
  margin-bottom: 0;
  width: 311px;
}

.login-box {
  display: none;
  position: absolute;
  top: 28px;
  left: -130px;
  z-index: 1;
}

.modal-login {
  margin-top: 10px;
  padding: 20px 17px 22px 19px;

  border-radius: 5px;
}

.modal-login p {
  margin: 0;
  padding: 0;
}

.modal-login a {
  color:#323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}

.modal-login a:hover,
.modal-login a:active {
  color: #e84d37;
}

.modal-login input {
  width: 211px;
}

.modal-login .login-btn-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.modal-login .user-links {
  padding-right: 3px;
}

.modal-login .btn {
  padding: 10px 25px;
}

.modal:not(.modal-feedback) {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.modal-feedback {
  display: none; /*Временно*/
  position: absolute;
  z-index: 3;

  top: 50%;
  left: 50%;

  box-sizing: border-box;
  width: 478px;
  padding: 20px 25px 27px;
  margin-left: -239px;

  border-radius: 15px;
}

.modal-feedback h2{
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  margin-bottom: 20px;
}

.modal-feedback p {
  margin: 0;
}

.modal-feedback input {
  width: 267px;
}

.modal-feedback textarea {
  box-sizing: border-box;
  width: 428px;
  min-height: 155px;
  resize: vertical;
}

.modal-feedback .btn {
  margin-top: 5px;
}

.close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 17px;
  height: 17px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.close::before,
.close::after {
  content: "";

  position: absolute;
  top: 7px;
  left: -3px;

  width: 24px;
  height: 2px;

  background-color: #231F20;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.cart-box {
  display: none;
  position: absolute;
  z-index: 1;

  top: 28px;
  left: -265px;
}

.modal-fullcart {
  box-sizing: border-box;
  width: 540px;
  margin-top: 10px;
  padding: 20px 15px;

  font-size: 13px;
  font-weight: 400;
  line-height: 16px;

  border-radius: 5px;
}

.modal-fullcart table {
  width: 100%;
  border-collapse: collapse;
}

.modal-fullcart td {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.modal-fullcart .btn-del {
  position: relative;
  width: 11px;
  height: 11px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.btn-del::before,
.btn-del::after {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 1px;

  background-color: #231F20;
}

.btn-del::before {
  transform: rotate(45deg);
}

.btn-del::after {
  transform: rotate(-45deg);
}

.modal-fullcart .delete {
  padding-right: 13px;
  width: 11px;
}

.modal-fullcart .image {
  width: 33px;
  padding-right: 14px;
}

.modal-fullcart img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.modal-fullcart .name {
  vertical-align: top;
  width: 216px;
  padding-top: 11px;
  padding-right: 26px;
}

.modal-fullcart .amount-and-price {
  padding-right: 29px;
  white-space: nowrap;
}

.modal-fullcart .price {
  color: #999999;
}

.modal-fullcart .sum {
  white-space: nowrap;
  padding-right: 19px;
}

.modal-fullcart .total {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;

  padding: 15px 0;

  border-top: 1px solid #cacac7;
}

.modal-fullcart .total-right {
  text-align: right;
  padding-right: 4px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.3);
}
